/* AboutUs.css */
.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 96vh;
  }

    .about-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: 63px;
    border-radius: 20px 20px 0 0;
    height: 99%;
    }

    @media (max-width: 768px) {
        .about-container {
            margin-top: 100px;
        }
    }

    .title-section {
        display: flex;
        flex-flow: column;
        justify-content: center;
        height: 250px;
        padding: 20px;
        margin-left: 10%;
    }

        .title {
            font-size: 2.4rem;
            font-weight: 450;
            padding: 5px;
            margin: 0;
        }

        .title-statement {
            font-family: "Noto Serif", serif;
            font-style: italic;
            font-size: 1.5rem;
            font-weight: 500;
            padding: 5px;
            margin: 0;
            color: #717568;
        }

    .text-container {
        display: flex;
        align-items: center;
        justify-content: end;
        background-image: url('../images/jeremy-doddridge-efhEncQLi4w-unsplash.jpg'), linear-gradient(rgba(0,0,0,0.08),rgba(0,0,0,0.08));
        background-blend-mode: overlay;
        background-size: cover;
        padding: 30px;
        margin-top: -18px;
        border-radius: 20px 20px 0 0;
        height: 99%;
        width: auto;
    }

    .welcome {
        position:absolute;
        top: 32%;
        left: 15%;
        transform: rotate(-10deg);
        opacity: 0.9;
        height: 100px !important;
        z-index: 1;
    }

    .text-section {
        display: flex;
        flex-direction: column;
        background: rgba(255, 255, 255, .92);
        border-radius: 10px;
        padding: 15px 20px;
        margin: 3%;
        height: 60%;
        width: 55%;
        z-index: 2;
    }

    .text-section h2 {
        margin: 0 1px 0 3.5px;
        font-weight: 600;
    }

    .text-section p {
        font-size: .92rem;
        overflow: auto;
        scrollbar-color: #b9bdaf transparent;
        scrollbar-width: thin;
    }
    
    .welcome-text {
        display: flex;
        align-items: center;
    }
    
    @media (max-width: 768px) {
        .text-container {
            justify-content: center;
        }
        .text-section {
            width: 80%;
        }
    }