
.calendar {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border-radius: 20px 20px 0 0;
    margin-top: 70px;
    width: 100%;
    height: 90vh;
}

.calendar-container {
    display: inline-block;
    padding: 50px;
    width: 80%;
    aspect-ratio: 4/3;
}

/* For mobile devices and smaller screens */
@media (max-width: 480px) {
    .calendar-container {
        width: 90%;
        aspect-ratio: 2/3;
    }
}

/* For tablets and medium screens */
@media (min-width: 481px) and (max-width: 768px) {
    .calendar {
        margin-top: 100px;
    }

    .calendar-container {
        aspect-ratio: 1/1;
    }
}



/* React Big Calendar class styles */
.rbc-btn-group button {
    font-family: "Saira", sans-serif;
    font-size: .8rem;
}

.rbc-toolbar-label {
    font-size: 1.3rem;
    margin: 5px 0;
    font-weight: 600;
}

.rbc-header {
    font-weight: 600;
}







  
  
     
      