/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Saira:wght@100..900&display=swap'); */

.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .hero {
    background-image: url('../images/ethan-dow-xssEs_oCv-A-unsplash.jpg'), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: bottom 100px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    color: white;
    height: 650px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    margin-top: 70px;
    z-index: 0;
    position: relative;
  }

  .hero-container {
    padding:20px;
    position: absolute;
    top: 10%;
    left: 2%; 
    width: auto;
  }

    .hero-mission {
      padding: 5px;
      margin: 0;
    }
    
    .hero-title {
      font-family: "Noto Serif", serif;
      font-style: italic;
      font-size: 2.8rem;
      font-weight: 500;
      padding: 5px;
      margin: 0;
    }

    .hero-statement-action {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5px;
      margin: 0;
      height: 70px;
    }

      .hero-statement{
        font-size: 2.8rem;
        font-weight: 450;
        margin: 0 3% 0 0;
        text-wrap: nowrap;
      }

      .action-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #5194f1;
        border: none;
        padding: 5px 15px;
        color: white;
        cursor: pointer;
        border-radius: 3px;
        margin: 10px 5px;
        width: 130px;
        height: 40px;
      }

      .action-button.two {
        font-family: "Saira", sans-serif;
        font-size: 1.1rem;
        font-weight: 400;
        text-wrap: nowrap;
        width: 250px;
      }

      .action-button:hover {
        box-shadow: 4px 4px lightslategray;
        transform: scale(1.1);
      }

      .button-logo {
        height: 1.5rem;
        padding: 8px;
        width: 100%;
      }

      @media (max-width: 768px) {
        .hero {
          margin-top: 100px;
        }

        .hero-title, .hero-statement {
          font-size: 2rem;
        }

        .hero-statement-action {
          flex-direction: column;
          align-items: start;
        }
      }

  .section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    margin-top: -18px;
    border-radius: 20px 20px 0 0;
    z-index: 1;
    background-color: white;
    height: 40%;

  }

    .section-why {
      margin: 10px 0 40px 0;
      padding: 8px 10px;
      font-weight: 400;
      font-size: 1.1rem;
      letter-spacing: 1.1px;
      border: 2px solid;
      border-radius: 15px;
  }

    .section-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
    }

    .section-statement {
      font-size: 2rem;
      margin: 0;
      text-wrap: nowrap;
    }
      .section-statement.two {
        margin-top: -55px;
        margin-left: 10px;
      }

      .section-statement.three {
        margin: 30px 30px 20px 30px;
      }

    .section-emphasis {
      font-family: "Noto Serif", serif;
      font-style: italic;
      font-size: 3.5rem;
      margin-right: 30px;
      margin-top: -65px;
    }

    @media (max-width: 768px) {
      .section-title {
        margin-bottom: 20px;
      }

      .section-statement {
        font-size: 1.5rem;
      }

      .section-emphasis {
        font-size: 3rem;
        margin-top: -55px;
      }
    }

    .card-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      margin: 20px;
      width: 100%;
    }

    .value-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: aliceblue;
      border-radius: 40px;
      padding: 10px;
      margin: 15px 10px;
      height: 280px;
      width: 250px;      
    }
      .value-statement {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px;
      }

      .value-card img {
        width: 50px; /* Size of icons */
        margin: 20px;
      }

      .value-card h3 {
        font-size: 1.1rem;
        margin: 10px 0;
        font-weight:550;
      }

      .value-card p {
        font-size: .9rem;
        margin:0;
      }


    @media (max-width: 768px) {
    .card-container {
      flex-direction: column;
      align-items: center;
    }

    .value-card {
      height: 250px;
    }

    .value-card p {
      font-size: .9rem;
      margin-bottom: 10px;
    }
  }     

