
.itinerary-page {  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .full-calendar {
    background-image: url('../images/annie-spratt-Uk3t05ndSng-unsplash.jpg'), linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
    background-blend-mode: overlay;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px 20px 0 0;
    margin-top: 70px;
    height: 84vh;
    width: 100%;
    /* flex: 0 0 65% This will make the container fill the available space */
  }

  @media (max-width: 768px) {
    .full-calendar {
      margin-top: 100px;
    }
  }

  .fc {
    width: 80% !important; /*Ensure FullCalendar takes up 100% width*/
    height: 80% !important; /* Same for height if you want it to be fully stretched */
}

    .fc .fc-toolbar-title {
        font-size: 1.2rem; /* Set your desired font size */
    }
    
    /* This targets all the buttons in the calendar header */
    .fc .fc-button {
        font-size: .85rem;
    }

  .itinerary-actions button {
    background-color: #5194f1;
    font-family: "Saira", sans-serif; 
    font-weight: 400;   
    letter-spacing: 1.1px;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    margin: 5px;
  }

  .itinerary-actions button:hover {
    transform: scale(1.07);
    box-shadow: 4px 4px lightslategray;
  }