/* PlanTripPage.css */
.plan-trip-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 96vh;
}

  .plan-trip-container {  
      background-image: url('../images/annie-spratt-qyAka7W5uMY-unsplash.jpg'), linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35));
      background-blend-mode: overlay;
      background-size: cover;
      color: white;
      display: flex;      
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-blend-mode: overlay;
      background-size: cover;
      height: 100%;
      width: 100%;
      border-radius: 20px 20px 0 0;
      margin-top: 63px;
      z-index: 0;
      position: relative;
    }

    .stamp {
      position:absolute;
      top: 10%;
      left:10%;
      transform: rotate(15deg);
      opacity: 0.85;
      height: 80px !important;
      z-index: 1;
    }

    .pinpoint {
      position:absolute;
      bottom: 10%;
      right:15%;
      transform: rotate(-10deg);
      opacity: 0.85;
      height: 95px !important;
      z-index: 1;
    }
    
    .form-container {
      background-color: rgba(255,255,255, 0.3);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      margin: 10px;
      width: 80%;
      z-index: 2;
    }

    .form-title-container {
      display: flex;
    }

    .form-title {
      font-size: 2.8rem;
      font-weight: 500;
      padding: 5px;
      margin: 0 0 20px 0;
    }

    .form-emphasis {
      font-family: "Noto Serif", serif;
      font-style: italic;
      font-size: 2.8rem;
      font-weight: 500;
      padding: 3px 5px 5px 5px;
      margin: 0;
    }

    @media (max-width: 768px) {
      .plan-trip-container {
        margin-top: 100px;
      }

      .form-title {
        font-size: 1.6rem;
      }

      .form-emphasis {
        font-size: 1.6rem;
        padding: 5px 1px;
      }
    }

    .form-action {
      margin: 10px 0 40px 0;
      padding: 8px 10px;
      font-weight: 400;
      border: 2px solid white;
      border-radius: 15px;
      font-size: 1rem;
      letter-spacing: 1.1px;
    }

    
    form {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      width: 100%;
      padding: 5px 10px;
    }
    
    
    /* Tablet view, usually around 768px or less */
    @media (max-width: 768px) {
      form {
        flex-direction: column;
        width: 100%;
      }
    }
    
    .plan-trip-input, .plan-trip-date {     
      background-color: transparent !important; 
      font-family: 'Saira', serif !important;
      font-size: 1rem !important;
      font-weight: 300 !important;
      letter-spacing: 1.1px !important; 
      margin: 5px 10px 5px 0!important;
      padding: 15px!important;
      border: none;
      width: 175px;
    }

    .plan-trip-date {
      width: 150px;
    }

    .plan-trip-input:focus, .plan-trip-date:focus {
      outline: none;
    }
    
    .plan-trip-input::placeholder, .plan-trip-date::placeholder {
      color: white !important;
      font-size: .85rem !important;
    }

    .plan-trip-date[type="date" i] {
      font-family: 'Saira', serif !important;
      font-size: .85rem !important;
      text-transform: uppercase !important;
      text-align: start !important;
    }

    @media (max-width: 768px) {
      .plan-trip-input, .plan-trip-date {
        margin: 5px !important;
        width: 100%;
      }
    }
    
    .build-itinerary-button {
      background-color: #5194f1;
      display: flex; 
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 3px;
      padding: 10px 15px;
      color: white;
      margin: 10px 5px;
      cursor: pointer;
      font-family: 'Saira', sans-serif;
      font-size: .95rem;
      font-weight: 400;
      letter-spacing: 1.1px;
      width: 170px;
    }

    .build-itinerary-button:hover {
      transform: scale(1.07);
      box-shadow: 4px 4px lightslategray;
    }

    @media (max-width: 768px) {
      .build-itinerary-button {
        width: 98%;
      }
    }
    