.privacy-page {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 63px;
}

@media (max-width: 768px) {
    .privacy-page {
      margin-top: 100px;
    }
}

.privacy-page div {
    padding: 2% 5%
}

.privacy-page h1 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 20px;
}

.privacy-page h2 {
    font-weight: 500;
    margin: 10px;
}

.privacy-page p {
    font-size: .85rem;
}