
.response-page {  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .response-section {
    background-image: url('../images/caroline-selfors-r2jpr8MDw0I-unsplash.jpg'), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px 20px 0 0;
    margin-top: 70px;
    padding: 30px 0px;
    height: 83vh;
    width: 100%;
    color:white;
  }


  .response-intro {
    padding: 20px;
    width: 40%;
  }

    .response-title {
        font-family: "Noto Serif", serif;
        font-style: italic;
        font-size: 2.4rem;
        font-weight: 500;
        padding: 5px;
        margin: 0;
    }

    .response-statement {
        font-size: 1.2rem;
        font-weight: 300;
        padding: 5px;
    }

  .response-container {
    background: rgba(255, 255, 255, .92);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    width: 35%;  
    height: 60vh;
    overflow-y: auto; /* This will add a scrollbar if the content exceeds the height */
    overflow-x: hidden; /* This prevents horizontal scrolling */
    scrollbar-color: #b9bdaf transparent;
    scrollbar-width: thin;
    color: black;
  }

    @media (max-width: 768px) {
        .response-section {
        flex-direction: column;  
        margin-top: 100px;
        }

        .response-title {
        font-size: 1.6rem;
        }

        .response-intro {
            width: 70%;
        }

        .response-container {
            width: 60%;
        }
    }

  .day-container {
    padding: 10px;
  }
    .time-block {
        padding: 5px 10px;
    }

    .day {
        font-size: .9rem;
        font-weight: 500;
        padding: 10px;
        margin: 12px 0;
        color: #717568;
        border-bottom: 1.9px solid #717568;
    }

    strong {
        font-size: 1rem;
        font-weight: 600;
    }

    .activity {
        font-size: .85rem;
        margin: 8px 0;
    }

