
.event-modal {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border: 1px solid var(--fc-border-color);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px;
    position: fixed; 
    top: 50%; 
    left: 40%;
    width: 300px;
    z-index: 998
}

/* .event-modal-container {

} */

.event-modal div div {
    margin: 10px 0;
    padding: 5px;
}

.event-title {
    padding: 15px 10px;
    background-color: #f1f1f1;
    font-size: .95rem;
    font-weight: 500;
}

.event-details {
    margin-bottom: 25px !important;
    color: rgb(110, 110, 110);
    font-size: .85rem;
    padding: 10px 15px !important;
}

.event-date, .event-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.event-modal-container span {
    margin: 0 5px;
}

.event-modal p {
    font-weight: 450;
    background-color: #f1f1f1;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: .85rem;
}

.event-date p {
    width: 90%;
    margin: 0 5px
}

.event-time p {
    width: 50%;
    margin: 0 5px
}

.event-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px !important;
    color: #8f9396;
}

