
.footer {
    background-color: white;
    color: black;
    padding: 20px 50px;
    font-size: .82rem;
    font-weight: 400;
    z-index: 9999;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }
  }
  
  /* .social-media-links a {
    color: black;
    text-decoration: none;
    margin-right: 15px;
  }
  
  .social-media-links a:hover {
    text-decoration: underline; 
  } */

  .contact-info {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 768px) {
    .contact-info {
      align-items: center;
      margin-top: 5px;
    }
  }

  
  .contact-info p {
    margin: 0; 
    padding: 5px 0; 
  }

  .contact-info a:hover {
    color: #5194f1;
  }
