.loading-screen {
    display: flex;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    margin-top: 63px;
    height: 100vh;
}

@keyframes slideFromTop {
    from {
      transform: translateY(-100%); /* start above the screen */
      opacity: 0;
    }
    to {
      transform: translateY(0); /* end at its final position */
      opacity: 1;
    }
  }
  
  @keyframes slideFromBottom {
    from {
      transform: translateY(100%); /* start below the screen */
      opacity: 0;
    }
    to {
      transform: translateY(0); /* end at its final position */
      opacity: 1;
    }
  }
  
  
  .image-container {
    position: relative;
    z-index: 5;
    /* Other styles to position your images, if necessary */
  }

  img {
    width: 25%;
    height: 100%;
    object-fit: cover;
  }

  .image1 {
    animation: slideFromTop 1s forwards;
    animation-delay: 0s
  }
  
  .image2 {
    animation: slideFromBottom 1s forwards;
    animation-delay: 0.5s
  }

  .image3 {
    animation: slideFromTop 1s forwards;
    animation-delay: 1s
  }
  

  .image4 {
    animation: slideFromBottom 1s forwards;
    animation-delay: 1.5s
  }
  

  
  .loading-text {
    position: absolute; /*Ensure it's positioned relative to its container */
    top: 50%;
    left: 42%;
    color: white;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1.2px;
    opacity: 0;
    z-index: 10;
    animation: fadeIn 1s forwards, stayVisible 6s forwards;
    animation-delay: 2s, 3s; /* this delay should be after the last image animation */
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  @keyframes stayVisible {
    to {
      opacity: 1; /* Keep the element visible */
    }
  }
