
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 0;
    margin-top: 63px;
    width: 100%;
    height: 92vh;
}

.login-hero {
    background-image: url('../images/ben-neale-EC_GhFRGTAY-unsplash.jpg'), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    background-blend-mode: overlay;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: white;
    width: 50%;
    height: 99%;
}

.login-title {
    font-family: "Noto Serif", serif;
    font-style: italic;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 5px;
    margin: 0;
}

.login-statement {
    font-size: 1.1rem;
    font-weight: 300;
    text-align: center;
    padding: 20px;
    margin: 5px;
}

.login-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.login-auth div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

@media (max-width: 768px) {
    .login-page {
        flex-direction: column;
        margin-top: 100px;
        height: auto;
    }

    .login-hero {
        width: 95%;
        margin: 2px;
        height: 250px;
    }

    .login-statement {
        font-size: .95rem;
        padding: 10px;
    }

    .login-auth {
        width: 100%;
    }

    .login-auth div {
        width: 95%;
    }
}

/* this div extends buttons width wise */
.login-auth div div {
    width: 100%;
}

/* button, label, input, anchor classnames */
.c-bOcPnF, .c-bpexlo, .c-dEnagJ, .c-dumjqv {
    font-family: "Saira", sans-serif !important;
    color: black;
}

/* input margin */
.c-dEnagJ {
    margin: 2px 0px;
}

button {
    margin: 2px;
}

.c-bOcPnF-cmFMMs-color-primary {
    font-size: 1rem;
    font-weight: 450;
    color: white;
    background-color: #5194f1 !important;
    border: none !important;
}

.c-bOcPnF-cmFMMs-color-primary:hover:not(:disabled) {
    background-color: #18a02e !important;
}

.login-auth div form {
    padding: 0;
}
