
.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    width: 100%; 
    z-index: 9999;
  }

  .logo {
    margin-left:10px;
    padding-top: 5px;
    width: 5rem;
  }

  .logo:hover {
    transform: scale(1.1);
  }

  .nav-links {
    display: flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
  }

  .nav-one {
    width: 400px
  }

  .nav-two {
    width: auto;
    font-weight: 600;
  }
  
  .nav-links a {
    color: #010B13;
    text-decoration: none;
    margin-right: 4%;
    font-size: 1rem;
  }

  .nav-links a:hover {
    color: #5194f1;
    transform: scale(1.05);
  }

  .sign-out-button {
    font-family: "Saira", sans-serif;
    font-size: .9rem;
    font-weight: 450;
    background-color: rgb(226, 226, 226);
    border: 1px solid black;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    /* margin: 10px 5px; */
  }

  .sign-out-button:hover {
    background-color: crimson;
    color: white;
    border: 1px solid transparent;
  }

  /* Initially hides the hamburger menu */
  .hamburger {
    display: none;
  }

  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: black;
    transition: 0.3s;
    margin: 1px;
  }

  .bar1.change {
    height: 2.5px;
    transform: translateY(7.4px) rotate(-45deg);
  }

  .bar2.change {
    opacity: 0;
  }

  .bar3.change {
    height: 2.5px;
    transform: translateY(-9px) rotate(45deg);
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: center;
      padding: 15px 0 10px 0;
    }

    .logo {
      margin-left: 0;
    }

    .hamburger {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 30px;
      height: 25px;
      padding: 5px;
    }

    .hamburger:hover {
      transform: scale(1.07);
    }

    .nav-links {
      display: none;
      flex-direction: column;
      margin: 5px 0;
    }

    .nav-links a {
      margin: 4px 0;
    }

    .nav-links.active {
      display: flex;
      align-items: center;
      width: 100%;      
    }
  }