@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Saira:wght@100..900&display=swap');

.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .hero {
    background-image: url('./images/ethan-dow-xssEs_oCv-A-unsplash.jpg'), linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: bottom 100px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    color: white;
    height: 650px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    margin-top: 70px;
    z-index: 0;
    position: relative;
  }

  .hero-container {
    padding:20px;
    position: absolute;
    top: 10%;
    left: 2%; 
  }

    .hero-mission {
      padding: 5px;
      margin: 0;
    }
    
    .hero-title {
      font-family: "Noto Serif", serif;
      font-style: italic;
      font-size: 2.8rem;
      font-weight: 500;
      padding: 5px;
      margin: 0;
    }

    .hero-statement-action {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5px;
      margin: 0;
      height: 70px;
    }

      .hero-statement{
        font-size: 2.8rem;
        font-weight: 450;
        margin: 0 3% 0 0;
        text-wrap: nowrap;
      }
    
      .cta-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #5194f1; /* Bootstrap primary color for example */
        border: none;
        padding: 5px 15px;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 3px;
        margin: 5px;
        width: 120px;
        height: 40px;
      }

      .logo-button {
        height: 1.5rem;
        padding: 5px;
      }


  .section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:4%;
    margin-top: -18px;
    border-radius: 20px 20px 0 0;
    z-index: 1;
    background-color: white;
    height: 40%;

  }

    .section-why {
      margin: 10px 0 40px 0;
      padding: 8px 10px;
      font-weight: 400;
      font-size: 1.1rem;
      letter-spacing: 1.1px;
      border: 2px solid;
      border-radius: 15px;
  }

    .section-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #0B2027;
      margin-bottom: 50px;
    }

    .section-statement {
      font-size: 2rem;
      margin: 0;
    }
      .two {
        margin-top: -55px;
        margin-left: 10px;
      }

    .section-emphasis {
      font-family: "Noto Serif", serif;
      font-style: italic;
      font-size: 3.5rem;
      margin-right: 30px;
      margin-top: -60px;
    }

    .card-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 20px;
    }

    .value-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: aliceblue;
      color: #0B2027;
      border-radius: 40px;
      padding: 20px;
      margin: 10px 20px;
      height: 280px;
      width: 250px;      
    }
      .value-statement {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding:5px;
      }

      .value-card h3 {
        font-weight:550;
      }

      .value-card p {
        margin:0;
      }

      .value-card img {
        width: 50px; /* Size of icons */
        margin: 20px;
      }
          

