.homepage {
    /* background-image: url('./images/caleb-bennetts-WWjcvKUW1FI-unsplash.jpg'), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center center no-repeat; */
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
  
  .hero {
    display: flex;
    background-image: url('./images/ethan-dow-xssEs_oCv-A-unsplash.jpg');
    background-blend-mode: overlay;
    background-size: cover;
    /* background-position: center center no-repeat; */
    background-position: bottom 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    margin-top: 70px;
  }
  
  .hero-title {
    color: white;
    font-size: 3rem;
    text-align: center;
    margin: 25px;
  }
  
  .cta-button {
    display: flex;
    align-items: center;
    background-color: #007bff; /* Bootstrap primary color for example */
    border: none;
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 3px;
    margin: 5px;
  }
    .logo-button {
      height: 1.5rem;
      padding: 5px;
    }
