/* .itinerary-page {
    /* Style your page */
  }
  
  .itinerary-actions {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
  }
  
  .itinerary-actions button {
    /* Style your buttons */
  }
   */