.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 15px;
    position: fixed;
    top: 0px;
    width: 100%;
  }

  .logo {
    padding-top: 5px;
    width: 6rem;
  }

  .nav-links {
    margin-right: 8%;
  }
  
  .nav-links a {
    color: black;
    text-decoration: none;
    margin-left: 4%;
    font-size: 1rem;
  }