.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white;
    position: fixed;
    top: 0px;
    width: 100%;
  }

  .logo {
    width: 5.2rem;
  }

  .nav-links {
    margin-right: 5%;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1rem;
  }